{% extends './base.html' %}

{% load static %}

{% block css%}{% static './Feeds/feeds.css' %}{% endblock %}

{% block title %} HiQ | Feeds {% endblock %}


{% block header %}
    <h1 >Latest Feeds in HiQ | Feeds </h1>

    <div class="nav-bar container">
        <div class="navbar first options">
            <a href="{% url 'home:home' %}" class="btn btn-warning">Home</a>
        </div>
        <div class="navbar options">
            <a href="{% url 'events:events' %}" class="btn btn-warning">Events</a>
        </div>
            <!-- <div class="navbar options"> -->
              <!-- <a href="#">Projects</a> -->
            <!-- </div> -->
        <div class="navbar options">
            <a href="{% url 'developers:contact' %}" class="btn btn-warning">Contact</a>
        </div>

        <div class="navbar options">
            <a href="{% url 'profile:profile' %}" class="btn btn-warning">Profile</a>
        </div>

        <div class="navbar options">
            <a href="{% url 'gallery:view_photo' %}" class="btn btn-warning">Gallery</a>
        </div>


    </div>

{% endblock %}

{% block content %}
<div class="row">

    <div class="col-sm-8 col-md-8 col-lg-8 child1">

        {% for update in updates %}

            <div class="singular">
                    <ul>

                        <a href="{% url 'profile:view_collequeprof' update.event_organizer %}" title="View {{update.event_organizer}}'s Project (s)">{{update.event_organizer}}</a>

                    </ul>
                    <h6 id = "desc">
                        {{update.event_description}}
                    </h6>
                    <h4 id = "time">
                        {{update.event_post_date}}
                    </h4>

            </div>

        {% endfor %}
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 child2">
        {% for online in online_users %}
                <p>
                    <small id = "online">
                        {{online}} is Online
                    </small>
                </p>

        {% endfor %}
    </div>

</div>

{% endblock %}

{% block footer %} {% endblock %}
