{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="theme-color" content="#6a89cc">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <link rel="icon" href="{% static 'uprofile/img/icon.jpeg' %}">
    <link rel="stylesheet" href="{% static 'uprofile/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'uprofile/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'uprofile/base.css' %}">
    <meta charset="utf-8">
    <title>HiQ | Profile</title>
  </head>
  <body class="user">
    <div class="nav">
      <div class="navbar car">
        <img src="{% static 'uprofile/img/career.svg' %}" class="logo" alt="">
      </div>
      <div class="navbar ham">
        <img src="{% static 'uprofile/img/hamburger.jpg' %}" class="logo" alt="">
      </div>
      <div class="navbar first options">
        <a href="{% url 'home:home' %}">Home</a>
      </div>
      <div class="navbar options">
        <a href="{% url 'events:events' %}">Events</a>
      </div>
       <div class="navbar options">
        <a href="{% url 'upload:projects' %}">Projects</a>
      </div>
      <div class="navbar options">
        <a href="{% url 'developers:contact' %}">Contact</a>
      </div>
      <!-- <div class="navbar options">
          <button type="button" id="showForm" class="btn btn-success topbtn" name="button">Log in</button>
      </div> -->
      <!-- <div class="navbar options">
          <button type="button" id="showForm" class="btn btn-info topbtn" name="button">Sign Up</button>
      </div> -->
    </div>

    <div class="userInfo">
      <img src="{% static './uprofile/img/profile.jpg' %}" class="imgDp" alt="profileImg"> <span class="profName"><b>{{username}}</b></span>
      <br>
      <!--

        USER INFO FROM THE DATABASE

       -->
      <a href="{% url 'upload:upload' %}"><button type="button" class="btn btn-info upload" name="button">Upload Project</button></a>
      <br>
      <a href="{% url 'logout:logout' %}"><button type="button" class="btn btn-danger logout" name="button">Log Out</button></a>
      <a href="{% url 'profile:update' %}"><button type="button" class="btn btn-success updateinfo" name="button">Update info</button></a>
    </div>
    <div class="projectList">
      <span class="static">

        <div class="container">

             <div class="row">

                <div class="col-4-md col-4-sm col-4-lg columnx">
                     <h2 class="title1">Projects</h2>
                     {%for proj in projects %}
                        <div class="pro-desc">

                            <p id="project_name">
                                <a href="{% url 'upload:projects' %}">{{proj.project_name}}</a>
                            </p>
                           <!-- <p id="project_owner">
                               <h3>{{proj.projectowner}}</h3>
                           </p> -->
                           <p id="pro-desc">{{proj.project_description}}</p>

                           <p id="uploadtime">
                               Created on {{proj.uploadtime}}
                           </p>

                        </div>
                    <hr style="background-color: navy">
                    {% endfor %}

                </div>

                <div class="label col-4-md col-4-sm col-4-lg columnx">
                    <!-- <h2 class="title1">Ongoing</h2> -->
                     <p class="labels"> Ongoing</p>

                </div>

                <div class="labels col-4-md col-4-sm col-4-lg columnx">
                    <!-- <h2 class="title1">Completed</h2> -->
                    <p class="labels"> Completed</p>

                </div>
        </div>

    </span>

    </div>
</div>


  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.js" ></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'uprofile/js/App.js' %}"></script>
</html>
