*
{
    background-image: url('./toons.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-blend-mode: color-dodge;
}

h1
{
    text-align: center;
    font-size: 60px;
    /* text-decoration: underline-through; */
    text-shadow: 4px 4px 4px #0f0;
    animation: rot .9s ease-in 1;
    opacity: .9;
    color: #fff;
}
/*
@keyframes rot {
    0%
    {
        transform: rotateZ(30deg);
    }
    25%
    {
        transform: rotateZ(-30deg)
    }
    50%
    {
        transform: rotateZ(200deg)
    }
    75%
    {
        transform: rotateZ(20deg)
    }
    100%
    {
        transform: rotateZ(0deg);
    }

} */
