{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0 ,user-scalable=no,maximum-scale =1.0">
        <link rel="stylesheet" href="{% static './upload_pro/upload.css' %}">
        <link rel="stylesheet" href="{% static './upload_pro/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static './upload_pro/css/styles.css' %}">

        <title></title>
    </head>
    <body>

        <div class="main-navbar container jumbotron">

            <div class="navbar options">
                 <a href="{% url 'home:home' %}" class="btn btn-info">Home</a>
            </div>

          <div class="navbar options">
            <a href="{% url 'events:events' %}" class="btn btn-info">Events</a>
          </div>


          <!-- <div class="navbar options"> -->
            <!-- <a href="#">Projects</a> -->
          <!-- </div> -->
          <div class="navbar options">
            <a href="{% url 'developers:contact' %}" class="btn btn-info">Contact</a>
          </div>

          <div class="navbar options">
            <a href="{% url 'profile:profile' %}" class="btn btn-info">Profile</a>
          </div>

          <div class="navbar options">
            <a href="{% url 'Feeds:Feeds' %}" class="btn btn-info">Feeds</a>
          </div>

        <div class="navbar options">
            <a href="{% url 'gallery:view_photo' %}" class="btn btn-info">Gallery</a>
        </div>

        </div>


        <div class="container">
            <div class="row">
                <div class="col-6-md">
                    '{{pro_del}}' Was deleted
                </div>
                <div class="col-6-md">
                    Nothign to show
                </div>
            </div>
        </div>

    </body>
</html>
