*
{
    padding: 0px;
    margin: 0px;
}
.row
{
    display: flex;
}

.columnx
{
    flex: 1;
}

#project_name
{
    color: red;
    font-size: 20px;
}

#project_owner
{
    color: navy;
}

#uploadtime
{
    color: green;
    text-align: right;
}

.title1
{
    text-align: center;
}

.pro-desc
{
    background-color: #fff;
    border-radius: 2vw;
    padding: 20px;
    box-sizing: border-box;
}
#delete
{
    font-size: 1.1em;
    margin-top: 10px;
    position: relative;
    background-color:inherit;
    left: 5px;
}


#pro-desc
{
    color: #000;
    text-align: center;
}

.userInfo>table
{
    margin: 3vw;
    /* opacity: 0; */
}

input
{   margin:.5vw;
    margin-bottom: 0vw;
    border: 0px;
    border-bottom: 0px;
    background-color: inherit;
    color:#000;
    height: 40px;
}
